<meta http-equiv:Content-Type content:text/html; charset:gb2312>

body{
	align:center;
}
table{
	width:650;
	cellspacing:0;
	cellpadding:0;
	border:0 ;
	height:300;
}
table.td{
	
	text-align:center;
}